body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.full-body{
min-height: calc(100vh - 56px) ;
}
.task-item {
  width: 100%;
}

.task-text {
  border: 1px solid transparent;
  padding: 0.375rem 0.7rem;
}

.add-btn,
.remove-btn {
  cursor: pointer;
  z-index: 10;
}

.saved {
  opacity: 0;
  transform: translateX(-10px);
  animation: show 500ms ease-out forwards;
}

@keyframes show {
  to {
    opacity: 1;
    transform: none;
  }
}

.basic-tooltip {
  position: relative;
  z-index: 200;
}

.basic-tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}
.text-vs{
  font-size: 9px;
}
.rounded-xl{
  border-radius: 8px;
}
.text-white1{
  color: #fff;
}
.basic-tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.basic-tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


.todostyle{
  background-color:#df7e7e ;
  transition: all 0.3s linear;
}
.progressstyle{
  background-color:#f1f1f1 ;
  transition: all 0.3s linear;
}
.donestyle{
  background-color:palegreen ;
  transition: all 0.3s linear;
}

.hgrow{
  background-color: rgb(89, 165, 13) !important;

}
.pointer{
  cursor: pointer;
}
.list-group-item:last-child{
  margin-bottom: 0 !important;
}